<h1>Welcome to TicTacToe!</h1>
<p class="status"></p>
<p class="player-message"></p>
<div class="game-board">
	<div class="space" id="1"></div>
  <div class="vert-border"></div>
  <div class="space" id="2"></div>
  <div class="vert-border"></div>
  <div class="space" id="3"></div>
  <div class="horiz-border"></div>
  <div class="space" id="4"></div>
  <div class="vert-border"></div>
  <div class="space" id="5"></div>
  <div class="vert-border"></div>
  <div class="space" id="6"></div>
  <div class="horiz-border"></div>
  <div class="space" id="7"></div>
  <div class="vert-border"></div>
  <div class="space" id="8"></div>
  <div class="vert-border"></div>
  <div class="space" id="9"></div>
</div>